.search-results-container {
    width: 500px;
    height: 600px;
    padding: 10px;
    overflow-y: scroll;
    outline: none;
}

@media (max-width: 950px) {
    .search-results-container {
        width: 450px;
    }
}

@media (max-width: 850px) {
    .search-results-container {
        width: 350px;
    }
}

@media (max-width: 750px) {
    .search-results-container {
        width: 250px;
    }
}