.video-desc {
    grid-area: video-description;
}

.video-desc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    margin-bottom: 12px;
}

.video-desc-avatar {
    width: 51px;
}

.video-desc-channel {
    flex: 1;
}

.video-desc-channel-title {
    font-size: 14px;
    font-weight: 500;
}

.video-desc-publish-date {
    font-size: 13px;
    color: rgba(17,17,17,0.6);
}

.video-desc-desc {
    padding-left: 51px;
    margin-bottom: 15px;
    white-space: pre-wrap;
    font-size: 14px;
}