.video-info {
    grid-area: video-info;
}

.video-arist-title {
    width: 100%;
    color: rgb(17,17,17);
    font-size: 18px;
}

.video-stats-actions {
    display: flex;
    align-items: center;
    color: rgba(17,17,17,0.4);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}

.video-view-count {
    flex: 1;
    font-size: 16px;
    color: rgba(17,17,17,0.6);
    font-weight: normal;
    text-transform: lowercase;
}

.video-actions {
    width: 312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-actions-thumbs {
    display: flex;
    justify-content: space-around;
}

.video-icon-text {
    width: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}