.comment-entry {
    margin-bottom: 20px;
}

.comment-avatar-input {
    display: flex;
}

.comment-author-avatar {
    display: flex;
    align-items: center;
    width: 70px;
}

.comment-input {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.comment-btn-container {
    display: flex;
    justify-content: flex-end;
}