.video-player-container {
    transform-origin: bottom right;
    /*grid-area: video;*/
    transition: 0.3s;
}

.video-player {
    width: 856px;
    height: 480px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.video-player-placeholder {
  grid-area: video;
  height: 100%;
  position: absolute;
}


/* ///////////////////////////////////////////
          Media Queries
////////////////////////////////////////////*/

@media (min-width: 1750px) {
  .video-player {
    width: 1280px;
    height: 720px;
  }
}


@media (max-width: 1200px) {
  .video-player {
    width: 640px;
    height: 360px;
  }
}

@media (max-width: 1000px) {

  .video-player {
    width: 856px;
    height: 480px;
  }
}

@media (max-width: 1000px) {

  .video-player {
    width: 856px;
    height: 480px;
  }
}