.video-player-container {
    transform-origin: top right;
    /*grid-area: video;*/
    transition: 0.3s;
}

.video-player {
    width: 856px;
    height: 480px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.video-player-placeholder {
  grid-area: video;
}


/* ///////////////////////////////////////////
          Media Queries
////////////////////////////////////////////*/


@media (max-width: 1200px) {
  .video-player {
    width: 640px;
    height: 360px;
  }
}

@media (max-width: 1000px) {

  .video-player {
    width: 856px;
    height: 480px;
  }
}

@media (max-width: 1000px) {

  .video-player {
    width: 856px;
    height: 480px;
  }
}