.video-carousel-container { 
    height: 230px;
    overflow-x: hidden;
}

.video-carousel-content {
    display: flex;
    height: 230px;
    transition: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

