* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

button:focus, input:focus {
  outline: none;
}

/*.card {
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  background: #ffffff;
}*/

.btn {
  cursor: pointer;
}