.video-page-container {
  display: flex;
  justify-content: center;
}


.card-grid {
  display: grid;
  grid-template-rows: 480px 70px max-content max-content;
  grid-template-columns: 854px 416px;
  grid-template-areas: "video suggestions"
                      "video-info suggestions"
                      "video-description suggestions"
                      "comments suggestions";
  grid-gap: 20px;

  margin-top: 70px;
}



/* ///////////////////////////////////////////
          Media Queries
////////////////////////////////////////////*/


@media (max-width: 1200px) {
  .card-grid {
    grid-template-rows: 360px 70px max-content max-content;
    grid-template-columns: 640px auto;
  }

  .video-player {
    width: 640px;
    height: 360px;
  }

}



@media (max-width: 1000px) {
  .card-grid {
    grid-template-rows: 480px 70px max-content max-content max-content;
    grid-template-columns: 854px;
    grid-template-areas: "video"
                        "video-info"
                        "video-description"
                        "suggestions"
                        "comments";
  }  

  .video-player {
    width: 856px;
    height: 480px;
  }
}

@media (max-width: 854px) {
  .card-grid {
    grid-template-rows: 360px 70px max-content max-content max-content;
    grid-template-columns: 640px;
    grid-template-areas: "video"
                        "video-info"
                        "video-description"
                        "suggestions"
                        "comments";
  }  

  .video-player {
    width: 640px;
    height: 360px;
  }
}
