
.percentage-bar-container {
    width: 135px;
    height: 2px;
    background: rgba(136, 136, 136, 0.4);
    margin-left: calc(100% - 312px);
}

.percentage-bar-fill {
    position: absolute;
    background-color: rgb(38, 147, 230);
    height: 2px;
}